<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section id="pendientesapp">
    <header>
      <h1>Pendientes</h1>      
    </header>
    <section id="main">
      <ul id="todo-list"></ul>
    </section>
  
  <script type="text/template" id="item-template">
    <span> Completo </span> <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %> />
    <input class="edit" value="<%- title %>">     
    <button class="destroy">Eliminar</button>   
  </script>
  <section class="new">
    <h3>Nuevo pendiente</h3>  
    <input id="new-todo" placeholder="Nombre del pendiente" autofocus />
    <button class="add">Agregar</button>
  </section>
  </section>
  <script src="js/lib/jquery-1.10.2.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>
  <script src="js/models/pendiente.model.js"></script>
  <script src="js/collections/pendientes.collection.js"></script>
  <script src="js/views/pendientes.view.js"></script>
  <script src="js/views/app.view.js"></script>
  <script src="js/app.js"></script>
</body>
</html>

