<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section id="pendientesapp">
    <header id="header">
      <h1>Pendientes</h1>
      <input id="new-todo" placeholder="Nombre del pendiente" autofocus />
      <button class="add">Agregar</button>
    </header>
    <section id="main">
      <ul id="todo-list"></ul>
    </section>
  </section>
  <script type="text/template" id="item-template">
    <input class="edit" value="<%- title %>">
    <div class="view">
      Completo <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %> />
      <button class="destroy">Eliminar</button>
    </div>
   
  </script>
  <script src="js/lib/jquery-1.10.2.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>
  <script src="js/models/pendiente.model.js"></script>
  <script src="js/collections/pendientes.collection.js"></script>
  <script src="js/views/pendientes.view.js"></script>
  <script src="js/views/app.view.js"></script>
  <script src="js/app.js"></script>
</body>
</html>

